@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 1550px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 150px;
  padding: 0px 50px;
  background: linear-gradient(to right, #443682, #28418a, #00669c);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
}

.logo {
  margin-left: 110px;
}

.name {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.name .name-title {
  font-weight: 700;
  font-size: 20px;
}

.name .name-subtitle {
  font-weight: 500;
  font-size: 18px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.clock {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.clock span {
  font-weight: 400;
  font-size: 20px;
}

.time {
  display: flex;
  flex-direction: column;
}

.time span {
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}

.call {
  display: flex;
  align-items: center;
  gap: 18px;
  color: #ffffff;
}

button {
  width: 161px;
  height: 44px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  /* margin-right: 90px; */
}

button:active {
  scale: 0.95;
  transition: 0.3s;
}

.manu {
  width: 100%;
  height: 100%;
  background-image: url(../img/something.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.url {
  width: 100%;
  height: 81px;
  display: flex;
  justify-content: center;
}

.url .us {
  width: 70%;
  height: 81px;
  background-color: #ffffff;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.us ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #000;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -3px;
}

a:hover::after {
  width: 100%;
}

ul li {
  display: flex;
  gap: 63px;
  list-style: none;
  font-weight: 700;
  cursor: pointer;
}

li a {
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.addition {
  width: 530px;
  height: 310px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin-top: 108px;
  margin-left: 230px;
}

.addition .title {
  font-size: 39px;
  font-weight: 700;
  color: #ffffff;
}

.info li {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.addition button {
  width: 250px;
  height: 60px;
  background-color: #00bb34;
  border: none;
  box-shadow: 2px 2px 8px 3px #00bb34;
  background: blur(20px);
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card-iteam {
  width: 1162px;
  height: 280px;
  margin-top: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.cards {
  width: 262px;
  height: 280px;
  background: linear-gradient(#a6dbf5, #451874);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
  /* user-select: none; */
}

.cards:active {
  scale: 0.95;
  transition: 0.3s;
}

.circyle {
  width: 97px;
  height: 97px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.inst-title {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

main {
  width: 100%;
  height: 100vh;
  margin-top: 310px;
}

.type {
  width: 100%;
  height: 887px;
  background-image: url(../img/askpricebg.png);
  display: flex;
  align-items: center;
}

.washe {
  width: 913px;
  height: 602px;
}

.text {
  width: 570px;
  height: 234px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left: 92px;
}

.text h1 {
  font-size: 28px;
  font-weight: 500;
}

.text p {
  font-size: 15px;
  font-weight: 500;
}

.text button {
  width: 250px;
  height: 60px;
  background-color: #00bb34;
  color: #ffffff;
  /* user-select: none; */
}

.service {
  width: 100%;
  height: 200vh;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
}

.payment {
  width: 1170px;
  height: 1443px;
  margin-top: 17px;
}

.typing {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.typing h1 {
  font-size: 28px;
  font-weight: 700;
}

.typing p {
  font-size: 22px;
  font-weight: 700;
}

hr {
  width: 140px;
  height: 3px;
  background-color: #000000;
}

.things {
  width: 100%;
  height: 458px;
  margin-top: 46px;
  border: 1px solid #000000;
  position: relative;
}

.box2 {
  position: absolute;
  top: 61px;
  right: 866px;
}

.ball {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background-color: #5f24a8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 213px;
  bottom: 48px;
}

.ball h1 {
  font-size: 55px;
  font-weight: 700;
  color: #ffffff;
}

.ball p {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.box3 {
  position: absolute;
  right: 0px;
}

.box4 {
  position: absolute;
  right: 52px;
  top: 85px;
}

.ball1 {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background-color: #5f24a8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 48px;
  right: 0px;
}

.ball1 h1 {
  font-size: 55px;
  font-weight: 700;
  color: #ffffff;
}

.ball1 p {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

main {
  margin-top: 600px;
}